<%= form_tag({controller: "collections", action: "filter"}, method: "post") do %>
  Time: <%= text_field_tag("time") %></br>
  Players: <%= select_tag(:players, options_for_select(1..15), include_blank: true ) %></br>
  Show me: <%= select_tag(:quantity, options_for_select(1..5), include_blank: true ) %> game(s)</br>
  <strong>Categories: </strong></br>
  <input type="checkbox" id="checkAll" checked />Select All/None</br>
  <% @tags.each do |tag| %>
     <input type="checkbox" name="tags[<%=tag%>]"checked><%= tag %>
  <% end %></br>
  <%= submit_tag "Search" %></br>
<% end %>
<%= link_to "Add Game", new_collection_game_path(@collection.id) %>
<% @games.each do |f| %>
  <div class="game">
    <strong><%=f.name %></br></strong>
    Time: <%=f.time %></br>
    Miniumum Players: <%=f.min_players %></br>
    Maximum Players: <%=f.max_players %></br>
    Rating: <%=f.rating %></br>
    <% percentile_complexity = f.percentile_complexity(@collection.games) %>
    <% if percentile_complexity == 0 %>
      Least complex game in the collection</br>
    <% elsif percentile_complexity == 100 %>
      Most complex game in the collection</br>
    <% else %>
      More complex than <%= percentile_complexity %>% of games in the collection</br>
    <% end %>
    <%= link_to "More Info", f.geek_link %></br>
    <%= link_to 'Delete',  f,  method: :delete %>
  </div>

<% end %>
<footer id="legal" class="notes">
  <p>
    Board game data comes from <a href="https://BoardGameGeek.com/">BoardGameGeek.com</a>
  </p>
</footer>